img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }


.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}




.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}





.contact-content img {
    max-width: 210px;
}

section, footer {
    background: #ffc107;
    color: black;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}